Repository gardener/gardenctl-v2, pull requests merged in 2021-06, with the labels that each got.

#19 Fix binary name in build script
  hack/build-darwin-amd64.sh
Labels: needs/ok-to-test, needs/review, size/xs

#20 Return to ctrl-runtime 0.8 to be Gardener 1.25 compatible
  go.mod
  go.sum
  internal/util/io_streams.go
  pkg/cmd/base/options.go
  pkg/cmd/root/command.go
  pkg/cmd/ssh/command.go
  pkg/cmd/ssh/command_test.go
  pkg/cmd/ssh/options.go
  pkg/cmd/ssh/options_test.go
  pkg/cmd/target/command_test.go
  pkg/cmd/target/options.go
  pkg/cmd/target/options_test.go
  pkg/cmd/version/command_test.go
  pkg/cmd/version/options.go
  pkg/cmd/version/options_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#21 Add auto-completion for global targeting flags
  internal/fake/target_provider.go
  internal/util/strings.go
  internal/util/target.go
  pkg/cmd/root/command.go
  pkg/cmd/root/completion.go
  pkg/cmd/root/completion_test.go
  pkg/cmd/root/dynamic_target_provider.go
  pkg/cmd/root/dynamic_target_provider_test.go
  pkg/cmd/ssh/command.go
  pkg/cmd/target/command.go
  pkg/cmd/target/command_test.go
  pkg/cmd/target/completion.go
  pkg/cmd/target/completion_test.go
  pkg/cmd/target/options.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/target.go
  pkg/target/target_provider.go
  pkg/target/target_provider_test.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xl

#26 Use DynamicTargetProvider to complete options
  pkg/cmd/target/command.go
  pkg/cmd/target/options.go
Labels: needs/ok-to-test, needs/review, size/s
