Repository gardener/gardenctl-v2, pull requests merged in 2022-12, with the labels that each got.

#186 lasterror
  pkg/cmd/ssh/options.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#197 Bump golang from 1.19.2 to 1.19.4
  .ci/pipeline_definitions
  .github/workflows/update-gardenctl-v2.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#192 Add additional linters
  .golangci.yaml
  internal/fake/factory.go
  internal/gardenclient/client.go
  internal/gardenclient/client_test.go
  internal/gardenclient/shoot_client.go
  internal/util/clock.go
  internal/util/factory.go
  internal/util/io_streams.go
  internal/util/strings.go
  internal/util/target.go
  pkg/ac/access_restriction.go
  pkg/ac/access_restriction_test.go
  pkg/cmd/base/options.go
  pkg/cmd/cmd.go
  pkg/cmd/config/config_suite_test.go
  pkg/cmd/config/delete_garden.go
  pkg/cmd/config/set_garden.go
  pkg/cmd/config/view.go
  pkg/cmd/env/env_suite_test.go
  pkg/cmd/env/env_test.go
  pkg/cmd/env/options.go
  pkg/cmd/env/options_test.go
  pkg/cmd/env/shell.go
  pkg/cmd/env/template.go
  pkg/cmd/env/template_test.go
  pkg/cmd/kubeconfig/kubeconfig.go
  pkg/cmd/kubeconfig/kubeconfig_test.go
  pkg/cmd/ssh/options.go
  pkg/cmd/ssh/ssh.go
  pkg/cmd/ssh/ssh_test.go
  pkg/cmd/target/target.go
  pkg/cmd/target/unset.go
  pkg/cmd/target/view.go
  pkg/cmd/version/version.go
  pkg/config/config.go
  pkg/config/config_suite_test.go
  pkg/config/config_test.go
  pkg/target/manager.go
  pkg/target/target_builder.go
  pkg/target/target_provider.go
  pkg/target/target_provider_test.go
  pkg/target/target_suite_test.go
Labels: needs/ok-to-test, needs/second-opinion, size/l

#196 Refactor/global target flags
  docs/help/gardenctl.md
  docs/help/gardenctl_config.md
  docs/help/gardenctl_config_delete-garden.md
  docs/help/gardenctl_config_set-garden.md
  docs/help/gardenctl_config_view.md
  docs/help/gardenctl_kubeconfig.md
  docs/help/gardenctl_kubectl-env.md
  docs/help/gardenctl_kubectl-env_bash.md
  docs/help/gardenctl_kubectl-env_fish.md
  docs/help/gardenctl_kubectl-env_powershell.md
  docs/help/gardenctl_kubectl-env_zsh.md
  docs/help/gardenctl_provider-env.md
  docs/help/gardenctl_rc.md
  docs/help/gardenctl_rc_bash.md
  docs/help/gardenctl_rc_fish.md
  docs/help/gardenctl_rc_powershell.md
  docs/help/gardenctl_rc_zsh.md
  docs/help/gardenctl_ssh.md
  docs/help/gardenctl_target.md
  docs/help/gardenctl_version.md
  internal/gen/markdown.go
  internal/util/target.go
  internal/util/target_test.go
  pkg/cmd/cmd.go
  pkg/cmd/cmd_test.go
  pkg/cmd/env/env.go
  pkg/cmd/env/env_test.go
  pkg/cmd/env/export_test.go
  pkg/cmd/export_test.go
  pkg/cmd/kubeconfig/kubeconfig.go
  pkg/cmd/kubeconfig/kubeconfig_test.go
  pkg/cmd/ssh/ssh.go
  pkg/cmd/ssh/ssh_suite_test.go
  pkg/cmd/target/target.go
  pkg/flags/export_test.go
  pkg/flags/flags_suite_test.go
  pkg/flags/target.go
  pkg/flags/target_test.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/mocks/mock_manager.go
  pkg/target/mocks/mock_target_trovider.go
Labels: needs/ok-to-test, needs/second-opinion, size/xl

#185 Enh/target cluster by alias
  README.md
  docs/help/gardenctl_config_set-garden.md
  pkg/cmd/config/set_garden.go
  pkg/cmd/config/set_garden_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/target/manager.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#180 enh: add cmd to patch bastion ipblock/cidr filter
  docs/help/gardenctl.md
  docs/help/gardenctl_ssh-patch.md
  internal/gardenclient/client.go
  internal/gardenclient/mocks/mock_client.go
  internal/util/clock.go
  internal/util/mocks/mock_clock.go
  pkg/cmd/cmd.go
  pkg/cmd/ssh/access_config.go
  pkg/cmd/ssh/mocks/mock_ssh_patch_userbastionlister.go
  pkg/cmd/ssh/options.go
  pkg/cmd/sshpatch/bastionlistpatcher.go
  pkg/cmd/sshpatch/completions.go
  pkg/cmd/sshpatch/export_test.go
  pkg/cmd/sshpatch/options.go
  pkg/cmd/sshpatch/sshpatch.go
  pkg/cmd/sshpatch/sshpatch_suite_test.go
  pkg/cmd/sshpatch/sshpatch_test.go
  pkg/config/config.go
  pkg/target/target.go
Labels: needs/ok-to-test, needs/second-opinion, size/xl
