Repository gardener/gardenctl-v2, pull requests merged in 2022-01, with the labels that each got.

#61 Configure the kubernetes CLI (kubectl) like the cloud provider CLIs (gcloud, aws, azure, ...)
  .golangci.yaml
  go.mod
  go.sum
  hack/golangci-lint.sh
  internal/gardenclient/client.go
  internal/gardenclient/mocks/mock_client.go
  internal/util/util_suite_test.go
  main.go
  pkg/cmd/cloudenv/cloudenv_test.go
  pkg/cmd/cloudenv/export_test.go
  pkg/cmd/cloudenv/options.go
  pkg/cmd/cloudenv/testdata/openstack/export.bash
  pkg/cmd/cloudenv/testdata/test/export.bash
  pkg/cmd/cmd.go
  pkg/cmd/cmd_whitebox_test.go
  pkg/cmd/env/env.go
  pkg/cmd/env/env_suite_test.go
  pkg/cmd/env/env_test.go
  pkg/cmd/env/export_test.go
  pkg/cmd/env/mocks/mock_template.go
  pkg/cmd/env/options.go
  pkg/cmd/env/options_test.go
  pkg/cmd/env/shell.go
  pkg/cmd/env/shell_test.go
  pkg/cmd/env/template.go
  pkg/cmd/env/template_test.go
  pkg/cmd/env/templates/alicloud.tmpl
  pkg/cmd/env/templates/aws.tmpl
  pkg/cmd/env/templates/azure.tmpl
  pkg/cmd/env/templates/gcp.tmpl
  pkg/cmd/env/templates/hcloud.tmpl
  pkg/cmd/env/templates/kubernetes.tmpl
  pkg/cmd/env/templates/openstack.tmpl
  pkg/cmd/env/templates/usage-hint.tmpl
  pkg/cmd/env/testdata/gcp/export.bash
  pkg/cmd/env/testdata/gcp/export.seed.bash
  pkg/cmd/env/testdata/gcp/serviceaccount.json
  pkg/cmd/env/testdata/gcp/unset.pwsh
  pkg/cmd/env/testdata/openstack/export.bash
  pkg/cmd/env/testdata/templates/invalid.tmpl
  pkg/cmd/env/testdata/templates/test.tmpl
  pkg/cmd/env/testdata/test/export.bash
  pkg/cmd/env/testdata/testdata.go
  pkg/cmd/ssh/ssh.go
  pkg/cmd/target/unset.go
  pkg/cmd/target/unset_test.go
  pkg/cmd/target/view_test.go
  pkg/cmd/version/version_test.go
  pkg/config/config.go
  pkg/target/kubeconfig_cache.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/mocks/mock_manager.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#63 [GCP] Do not set IPv6 CIDR on bastion resource
  pkg/cmd/ssh/options.go
  pkg/cmd/ssh/ssh.go
  pkg/cmd/ssh/ssh_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#64 Implementation proposal for controlplane kind
  pkg/cmd/target/target.go
  pkg/cmd/target/target_test.go
  pkg/cmd/target/target_whitebox_test.go
  pkg/cmd/target/unset.go
  pkg/cmd/target/unset_test.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/mocks/mock_manager.go
  pkg/target/target_builder.go
  pkg/target/target_flags.go
  pkg/target/target_flags_test.go
  pkg/target/target_provider_test.go
Labels: reviewed/ok-to-test, needs/second-opinion, size/l

#60 Implemented shoot control plane targeting
  go.mod
  go.sum
  pkg/cmd/cmd.go
  pkg/cmd/cmd_whitebox_test.go
  pkg/cmd/target/target.go
  pkg/cmd/target/target_test.go
  pkg/cmd/target/target_whitebox_test.go
  pkg/cmd/target/unset.go
  pkg/cmd/target/unset_test.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/mocks/mock_manager.go
  pkg/target/target.go
  pkg/target/target_builder.go
  pkg/target/target_flags.go
  pkg/target/target_flags_test.go
  pkg/target/target_provider_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#62 Store target.yaml in session directory
  internal/fake/client.go
  internal/fake/client_provider.go
  internal/fake/factory.go
  internal/fake/kubeconfig_cache.go
  internal/gardenclient/client.go
  internal/gardenclient/mocks/mock_client.go
  internal/util/factory.go
  internal/util/target_test.go
  pkg/cmd/base/options_test.go
  pkg/cmd/cmd.go
  pkg/cmd/cmd_suite_test.go
  pkg/cmd/cmd_test.go
  pkg/cmd/cmd_whitebox_test.go
  pkg/cmd/env/options.go
  pkg/cmd/env/options_test.go
  pkg/cmd/export_test.go
  pkg/cmd/ssh/export_test.go
  pkg/cmd/ssh/ssh_suite_test.go
  pkg/cmd/ssh/ssh_test.go
  pkg/cmd/target/export_test.go
  pkg/cmd/target/target_suite_test.go
  pkg/cmd/target/target_test.go
  pkg/cmd/target/target_whitebox_test.go
  pkg/cmd/target/unset_test.go
  pkg/cmd/target/view_test.go
  pkg/config/config.go
  pkg/target/client_provider.go
  pkg/target/kubeconfig_cache.go
  pkg/target/kubeconfig_cache_test.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/mocks/mock_client_provider.go
  pkg/target/mocks/mock_manager.go
  pkg/target/mocks/mock_target_trovider.go
  pkg/target/target_builder.go
  pkg/target/target_provider.go
  pkg/target/target_suite_test.go
  pkg/target/target_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#66 Ensure valid target when targeting control plane
  pkg/target/manager_test.go
  pkg/target/target_builder.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#65 Config command proposal
  internal/gardenclient/client.go
  internal/util/target.go
  pkg/cmd/cmd.go
  pkg/cmd/cmd_suite_test.go
  pkg/cmd/cmd_test.go
  pkg/cmd/config/config.go
  pkg/cmd/config/config_suite_test.go
  pkg/cmd/config/config_test.go
  pkg/cmd/config/delete_garden.go
  pkg/cmd/config/delete_garden_test.go
  pkg/cmd/config/export_test.go
  pkg/cmd/config/set_garden.go
  pkg/cmd/config/set_garden_test.go
  pkg/cmd/config/view.go
  pkg/cmd/config/view_test.go
  pkg/cmd/ssh/ssh_test.go
  pkg/cmd/target/target_test.go
  pkg/cmd/target/unset_test.go
  pkg/cmd/target/view.go
  pkg/cmd/target/view_test.go
  pkg/cmd/version/version_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/export_test.go
  pkg/target/client_provider.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/mocks/mock_client_provider.go
  pkg/target/target_builder.go
Labels: needs/ok-to-test, needs/second-opinion, size/xl

#68 Proposal for improving MatchPattern
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/export_test.go
  pkg/target/manager.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#69 control-plane flag support for the `kubectl-env` command
  pkg/config/config.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/target_suite_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#71 Added gardenctl command long description
  pkg/cmd/cmd.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#78 Do not trigger brew / choco actions for pre-releases
  .github/workflows/update-gardenctl-v2.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#77 renamed matchPatterns to patterns in config yaml
  pkg/config/config.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#74 Session isolation for `provider-env` command
  pkg/cmd/env/env_suite_test.go
  pkg/cmd/env/options.go
  pkg/cmd/env/options_test.go
  pkg/cmd/env/template_test.go
  pkg/cmd/env/templates/azure.tmpl
  pkg/cmd/env/templates/gcp.tmpl
  pkg/cmd/env/testdata/azure/export.fish
  pkg/cmd/env/testdata/gcp/export.bash
  pkg/cmd/env/testdata/gcp/export.seed.bash
  pkg/cmd/env/testdata/gcp/unset.pwsh
  pkg/cmd/env/testdata/testdata.go
  pkg/target/manager.go
  pkg/target/mocks/mock_manager.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#80 Do not remove config dir because revoke and logout commands will fails
  pkg/cmd/env/options.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#82 Initial release should start with v2.0.0
  VERSION
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#83 Update long description of the provider-env command
  pkg/cmd/env/env.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs
