Repository gardener/gardenctl-v2, pull requests merged in 2022-05, with the labels that each got.

#147 SSH to node that did not join the cluster
  pkg/cmd/ssh/options.go
  pkg/cmd/ssh/ssh_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#152 Print target kubeconfig
  docs/help/gardenctl.md
  docs/help/gardenctl_kubeconfig.md
  go.mod
  internal/fake/client.go
  internal/fake/target_provider.go
  internal/util/io_streams.go
  pkg/cmd/cmd.go
  pkg/cmd/kubeconfig/export_test.go
  pkg/cmd/kubeconfig/kubeconfig.go
  pkg/cmd/kubeconfig/kubeconfig_suite_test.go
  pkg/cmd/kubeconfig/kubeconfig_test.go
  pkg/cmd/target/target.go
  pkg/config/config.go
  pkg/target/client_provider.go
  pkg/target/manager.go
  pkg/target/target.go
  pkg/target/target_builder.go
  pkg/target/target_flags.go
  pkg/target/target_provider.go
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl

#138 Support access restrictions
  Makefile
  docs/help/gardenctl_kubectl-env_bash.md
  docs/help/gardenctl_kubectl-env_zsh.md
  docs/help/gardenctl_provider-env.md
  docs/help/gardenctl_provider-env_bash.md
  docs/help/gardenctl_provider-env_fish.md
  docs/help/gardenctl_provider-env_powershell.md
  docs/help/gardenctl_provider-env_zsh.md
  pkg/ac/ac_suite_test.go
  pkg/ac/access_restriction.go
  pkg/ac/access_restriction_test.go
  pkg/cmd/env/export_test.go
  pkg/cmd/env/options.go
  pkg/cmd/env/options_test.go
  pkg/cmd/env/rc_test.go
  pkg/cmd/env/shell.go
  pkg/cmd/env/shell_test.go
  pkg/cmd/env/template_test.go
  pkg/cmd/env/templates/helpers.tmpl
  pkg/cmd/env/templates/rc.tmpl
  pkg/cmd/ssh/options.go
  pkg/cmd/target/target.go
  pkg/cmd/target/target_test.go
  pkg/config/config.go
  pkg/target/manager.go
  pkg/target/target_builder.go
Labels: needs/ok-to-test, needs/second-opinion, size/xl

#157 Bump dependencies
  .ci/pipeline_definitions
  .github/workflows/update-gardenctl-v2.yaml
  go.mod
  go.sum
  hack/golangci-lint.sh
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#158 Added documentation for access restrictions
  docs/README.md
  docs/config/access-restrictions.md
  docs/images/access-restrictions.svg
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#160 [hotfix-2.1] Consider control-plane flag on kubeconfig command
  pkg/target/target_flags.go
  pkg/target/target_flags_test.go
Labels: kind/bug, reviewed/lgtm, needs/ok-to-test, size/xs

#159 [master]Consider control-plane flag on kubeconfig command
  pkg/target/target_flags.go
  pkg/target/target_flags_test.go
Labels: kind/bug, reviewed/lgtm, needs/ok-to-test, size/xs
