Repository gardener/gardenctl-v2, pull requests merged in 2022-04, with the labels that each got.

#149 Generate Shoot gardenlogin kubeconfig locally
  go.mod
  internal/gardenclient/client.go
  internal/gardenclient/client_test.go
  internal/gardenclient/export_test.go
  internal/gardenclient/gardenclient_suite_test.go
  internal/gardenclient/shoot_client.go
  internal/util/target_test.go
  pkg/cmd/ssh/ssh_suite_test.go
  pkg/cmd/ssh/ssh_test.go
  pkg/config/config.go
  pkg/target/manager.go
  pkg/target/manager_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#154 Do not use filepath.Join for embedded filesystem
  go.sum
  pkg/cmd/env/options_test.go
  pkg/cmd/env/template.go
  pkg/cmd/env/template_test.go
  pkg/cmd/env/testdata/azure/export.fish
  pkg/cmd/env/testdata/gcp/export.bash
  pkg/cmd/env/testdata/gcp/export.seed.bash
Labels: reviewed/ok-to-test

#155 Do not use `filepath.Join` for embedded filesystem
  go.sum
  pkg/cmd/env/env_suite_test.go
  pkg/cmd/env/options.go
  pkg/cmd/env/options_test.go
  pkg/cmd/env/template.go
  pkg/cmd/env/template_test.go
  pkg/cmd/env/testdata/azure/export.fish
  pkg/cmd/env/testdata/gcp/export.bash
  pkg/cmd/env/testdata/gcp/export.seed.bash
  pkg/target/manager.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#148 Get seed client: fail on any other error than not found
  internal/gardenclient/client.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs
