Repository gardener/gardenctl-v2, pull requests merged in 2022-02, with the labels that each got.

#84 Fix import sorting
  .golangci.yaml
  internal/fake/client.go
  internal/gardenclient/client.go
  internal/util/target.go
  internal/util/target_test.go
  internal/util/util_suite_test.go
  main.go
  pkg/cmd/cmd.go
  pkg/cmd/cmd_suite_test.go
  pkg/cmd/cmd_test.go
  pkg/cmd/env/env_suite_test.go
  pkg/cmd/env/export_test.go
  pkg/cmd/env/options.go
  pkg/cmd/env/options_test.go
  pkg/cmd/ssh/options.go
  pkg/cmd/ssh/ssh_suite_test.go
  pkg/cmd/ssh/ssh_test.go
  pkg/cmd/target/target_suite_test.go
  pkg/cmd/target/target_test.go
  pkg/cmd/target/unset_test.go
  pkg/cmd/version/version.go
  pkg/target/manager_test.go
  pkg/target/target.go
  pkg/target/target_builder.go
  pkg/target/target_flags_test.go
  pkg/target/target_provider_test.go
  pkg/target/target_suite_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#87 Generate Markdown from commands
  docs/gardenctl.md
  docs/gardenctl_config.md
  docs/gardenctl_config_delete-garden.md
  docs/gardenctl_config_set-garden.md
  docs/gardenctl_config_view.md
  docs/gardenctl_kubectl-env.md
  docs/gardenctl_kubectl-env_bash.md
  docs/gardenctl_kubectl-env_fish.md
  docs/gardenctl_kubectl-env_powershell.md
  docs/gardenctl_kubectl-env_zsh.md
  docs/gardenctl_provider-env.md
  docs/gardenctl_provider-env_bash.md
  docs/gardenctl_provider-env_fish.md
  docs/gardenctl_provider-env_powershell.md
  docs/gardenctl_provider-env_zsh.md
  docs/gardenctl_ssh.md
  docs/gardenctl_target.md
  docs/gardenctl_target_unset.md
  docs/gardenctl_target_view.md
  docs/gardenctl_version.md
  go.sum
  internal/gen/markdown.go
  pkg/cmd/cmd.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#89 Point LATEST file to rc1
  LATEST
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#75 Added first usage docs
  README.md
  docs/README.md
  docs/usage/targeting.md
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#90 Added improved help texts for config command
  docs/gardenctl.md
  docs/gardenctl_config.md
  docs/gardenctl_config_delete-garden.md
  docs/gardenctl_config_set-garden.md
  docs/gardenctl_config_view.md
  docs/gardenctl_kubectl-env.md
  docs/gardenctl_kubectl-env_bash.md
  docs/gardenctl_kubectl-env_fish.md
  docs/gardenctl_kubectl-env_powershell.md
  docs/gardenctl_kubectl-env_zsh.md
  docs/gardenctl_provider-env.md
  docs/gardenctl_provider-env_bash.md
  docs/gardenctl_provider-env_fish.md
  docs/gardenctl_provider-env_powershell.md
  docs/gardenctl_provider-env_zsh.md
  docs/gardenctl_ssh.md
  docs/gardenctl_target.md
  docs/gardenctl_target_unset.md
  docs/gardenctl_target_view.md
  docs/gardenctl_version.md
  pkg/cmd/config/delete_garden.go
  pkg/cmd/config/set_garden.go
  pkg/cmd/config/view.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#91 fixed capitalization for our commands
  pkg/cmd/cmd.go
  pkg/cmd/config/config.go
  pkg/cmd/config/delete_garden.go
  pkg/cmd/config/set_garden.go
  pkg/cmd/env/env.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#96 Use .login suffix for Seed Secrets. Fallback to .oidc
  internal/gardenclient/client.go
  internal/gardenclient/client_test.go
  internal/gardenclient/gardenclient_suite_test.go
  internal/util/target_test.go
  pkg/cmd/ssh/ssh_test.go
  pkg/target/manager_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#98 Bump dependencies
  .ci/pipeline_definitions
  go.mod
  go.sum
  hack/golangci-lint.sh
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#92 Add markdown check
  .ci/check
  Makefile
  docs/README.md
  docs/help/gardenctl.md
  docs/help/gardenctl_config.md
  docs/help/gardenctl_config_delete-garden.md
  docs/help/gardenctl_config_set-garden.md
  docs/help/gardenctl_config_view.md
  docs/help/gardenctl_kubectl-env.md
  docs/help/gardenctl_kubectl-env_bash.md
  docs/help/gardenctl_kubectl-env_fish.md
  docs/help/gardenctl_kubectl-env_powershell.md
  docs/help/gardenctl_kubectl-env_zsh.md
  docs/help/gardenctl_provider-env.md
  docs/help/gardenctl_provider-env_bash.md
  docs/help/gardenctl_provider-env_fish.md
  docs/help/gardenctl_provider-env_powershell.md
  docs/help/gardenctl_provider-env_zsh.md
  docs/help/gardenctl_ssh.md
  docs/help/gardenctl_target.md
  docs/help/gardenctl_target_control-plane.md
  docs/help/gardenctl_target_garden.md
  docs/help/gardenctl_target_project.md
  docs/help/gardenctl_target_seed.md
  docs/help/gardenctl_target_shoot.md
  docs/help/gardenctl_target_unset.md
  docs/help/gardenctl_target_view.md
  docs/help/gardenctl_version.md
  hack/check-markdown.sh
  hack/golangci-lint.sh
  internal/gen/markdown.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#101 Synchronize RW access to keepAliveInterval
  pkg/cmd/ssh/export_test.go
  pkg/cmd/ssh/options.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#94 Generate gardenctl startup script
  .gimps.yaml
  docs/help/gardenctl.md
  docs/help/gardenctl_rc.md
  docs/help/gardenctl_rc_bash.md
  docs/help/gardenctl_rc_fish.md
  docs/help/gardenctl_rc_powershell.md
  docs/help/gardenctl_rc_zsh.md
  pkg/cmd/cmd.go
  pkg/cmd/env/export_test.go
  pkg/cmd/env/rc.go
  pkg/cmd/env/rc_test.go
  pkg/cmd/env/templates/rc.tmpl
Labels: reviewed/lgtm, needs/ok-to-test, size/xl

#103 Fix yaml indentation
  pkg/cmd/base/options.go
  pkg/cmd/base/options_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#86 Write and symlink kubeconfig on change of target
  docs/concepts/cli_interaction.md
  docs/images/link-kubeconfig.svg
  docs/images/update-kubeconfig.svg
  go.mod
  go.sum
  internal/fake/factory.go
  pkg/cmd/cmd_suite_test.go
  pkg/cmd/config/config_suite_test.go
  pkg/cmd/env/options.go
  pkg/cmd/env/options_test.go
  pkg/cmd/ssh/ssh_test.go
  pkg/cmd/target/target.go
  pkg/cmd/target/target_test.go
  pkg/cmd/target/unset.go
  pkg/cmd/target/unset_test.go
  pkg/config/config.go
  pkg/config/config_suite_test.go
  pkg/config/config_test.go
  pkg/target/manager.go
  pkg/target/manager_test.go
  pkg/target/mocks/mock_manager.go
  pkg/target/target_suite_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#106 Added `gcv` alias
  pkg/cmd/env/rc_test.go
  pkg/cmd/env/templates/rc.tmpl
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#107 Point LATEST to rc2
  LATEST
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#108 Removed needless target flag override logic
  internal/util/factory.go
  internal/util/target.go
  pkg/cmd/cmd.go
  pkg/cmd/cmd_test.go
  pkg/cmd/target/target.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#116 doc: Improve install from Github release
  README.md
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#119 Ambiguous Shoot targeting should return an error
  internal/gardenclient/client.go
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#112 Fixes #28, #110 , #111, #113 and #114
  docs/help/gardenctl_rc_bash.md
  docs/help/gardenctl_rc_fish.md
  docs/help/gardenctl_rc_powershell.md
  docs/help/gardenctl_rc_zsh.md
  internal/util/factory.go
  pkg/cmd/cmd.go
  pkg/cmd/cmd_suite_test.go
  pkg/cmd/cmd_test.go
  pkg/cmd/env/rc.go
  pkg/cmd/env/rc_test.go
  pkg/cmd/env/templates/rc.tmpl
  pkg/cmd/export_test.go
  pkg/config/config.go
Labels: reviewed/lgtm, needs/ok-to-test, size/l

#124 Fix issues with release build
  .ci/update-release.py
  LATEST
  VERSION
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#125 Revert changes of failed release build
  LATEST
  VERSION
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#126 Release build fixes 2
  .ci/pipeline_definitions
  .ci/update-release.py
  LATEST
  VERSION
Labels: needs/ok-to-test, needs/review
