Repository gardener/gardenctl-v2, pull requests merged in 2023-01, with the labels that each got.

#208 fix broken link for Chocolatey and add comment
  README.md
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#204 reuse cidr flag completion from ssh cmd for ssh-patch
  docs/help/gardenctl_ssh-patch.md
  pkg/cmd/base/options.go
  pkg/cmd/ssh/access_config.go
  pkg/cmd/ssh/options.go
  pkg/cmd/ssh/ssh.go
  pkg/cmd/sshpatch/bastionlistpatcher.go
  pkg/cmd/sshpatch/completions.go
  pkg/cmd/sshpatch/export_test.go
  pkg/cmd/sshpatch/options.go
  pkg/cmd/sshpatch/sshpatch.go
  pkg/cmd/sshpatch/sshpatch_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#213 Bump golang from 1.19.4 to 1.19.5
  .ci/pipeline_definitions
  .github/workflows/update-gardenctl-v2.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#212 Update reuse-tool config and add reuse lint github action
  .github/workflows/golangci-lint.yml
  .github/workflows/reuse-tool-lint.yaml
  .github/workflows/update-gardenctl-v2.yaml
  .reuse/dep5
  pkg/cmd/env/testdata/testdata.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#214 Add gardenlogin install hint
  internal/gardenclient/client.go
  internal/gardenclient/client_test.go
  internal/gardenclient/shoot_client.go
  pkg/cmd/sshpatch/bastionlistpatcher.go
  pkg/cmd/sshpatch/options.go
  pkg/cmd/sshpatch/sshpatch_test.go
  pkg/target/mocks/mock_manager.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#206 enh: target cmd - only register target flags with higher specificty
  docs/help/gardenctl_target_control-plane.md
  docs/help/gardenctl_target_garden.md
  docs/help/gardenctl_target_project.md
  docs/help/gardenctl_target_seed.md
  docs/help/gardenctl_target_shoot.md
  docs/help/gardenctl_target_unset.md
  docs/help/gardenctl_target_view.md
  internal/fake/factory.go
  internal/util/factory.go
  internal/util/mocks/mock_factory.go
  pkg/cmd/cmd.go
  pkg/cmd/cmd_test.go
  pkg/cmd/target/control-plane.go
  pkg/cmd/target/project.go
  pkg/cmd/target/seed.go
  pkg/cmd/target/shoot.go
  pkg/cmd/target/target.go
  pkg/flags/target.go
  pkg/flags/target_test.go
  pkg/target/target_flags.go
Labels: reviewed/lgtm, needs/ok-to-test, size/m

#221 workflow maintenance
  .github/workflows/update-gardenctl-v2.yaml
Labels: reviewed/lgtm, needs/ok-to-test, size/xs
