Repository gardener/gardenctl-v2, pull requests merged in 2023-09, with the labels that each got.

#330 Fix mockgen path
  pkg/env/mocks/mock_template.go
  pkg/env/template.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs

#316 `ssh`: improve ssh command description
  pkg/cmd/ssh/connect_information.go
  pkg/cmd/ssh/options.go
  pkg/cmd/ssh/ssh_test.go
Labels: reviewed/lgtm, needs/ok-to-test, size/s

#335 add sshuser flag
  docs/help/gardenctl_ssh.md
  pkg/cmd/ssh/arguments.go
  pkg/cmd/ssh/arguments_test.go
  pkg/cmd/ssh/connect_information.go
  pkg/cmd/ssh/export_test.go
  pkg/cmd/ssh/options.go
  pkg/cmd/ssh/ssh_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/s
