Repository gardener/gardenctl-v2, pull requests merged in 2024-02, with the labels that each got.

#380 Support `viewer` to target `Shoot` cluster by fetching cluster CA via `ConfigMap`
  internal/client/garden/client_test.go
  internal/client/garden/shoot_client.go
  pkg/cmd/ssh/ssh_test.go
  pkg/target/manager_test.go
  pkg/target/target_builder.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/m, area/ipcei

#371 Remove obsolete workaround
  README.md
Labels: reviewed/lgtm, needs/ok-to-test, size/xs

#388 Make repo compliant
  CONTRIBUTING.md
  LICENSE
  LICENSES/Apache-2.0.txt
  README.md
Labels: needs/ok-to-test, needs/review, needs/second-opinion, size/xl, area/ipcei

#386 Bump golangci-lint to `1.56.1`
  .github/workflows/golangci-lint.yml
  .golangci.yaml
  hack/golangci-lint.sh
  pkg/cmd/cmd.go
  pkg/cmd/providerenv/options.go
  pkg/cmd/ssh/options.go
  pkg/cmd/version/version_test.go
Labels: reviewed/ok-to-test, reviewed/lgtm, needs/ok-to-test, size/xs
